var editor = new FroalaEditor('#id_content', {
        key: 'Kb3A3pB2C2G2D4F4I3oCd2ZSb1XHi1Cb2a1KIWCWMJHXCLSwG1G1B2A1B1C7F6E1F4H3',
        wordPasteModal: false,
        wordPasteKeepFormatting: false,
        attribution: false,
        pastePlain: true,
        toolbarButtons: ['undo', 'redo' , '|', 'bold', 'italic', 'underline', 'outdent', 'indent', 'insertLink', 'fontAwesome'],
        toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline', 'outdent', 'indent', 'insertLink', 'fontAwesome'],
        quickInsertTags: []
    });