
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.h5, h5 {
    font-size: 24px;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#loginModal .nav-link {
    width: 100%;
}
.nav-tabs .nav-link {
    background-color: #ea983e;
    border-color: #F2C08B;
    border-radius: 0;
    color: white;
    position: relative;
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
}
.nav-tabs .nav-item.active .nav-link {
    color: white !important;
    background-color: #e84d1c !important;
    border-color: #e84d1c !important;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.form-group {
        position: relative;
    margin-bottom: 20px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 15px;
    padding-left: 15px;
}
.margin-bottom-20 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.margin-bottom-20 > .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.input-group-append {
    display: flex;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #ea983e !important;
    border-color: #ea983e !important;
    border-radius: 0 !important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}