{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block content %}
<div class="columns">
    <div class="column m-auto is-full-mobile is-two-thirds-tablet is-half-desktop">
        <div class="card">
            <div class="card-content">
                <div class="level">
                    <h2 class="title">Login to continue</h2>
                </div>
                <div class="level">
                    <p class="subtitle">
                        or <a href="{% url 'signup' %}">create an account</a>
                    </p>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}