{% extends "base.html" %}
{% load static %}

{% block title %}Newsfeed{% endblock %}

{% block extra_css %}
<style>
.asteriskField {
display: none;
}
</style>
{% endblock extra_css %}

{% block content %}
{% if user.is_authenticated %}

<div class="columns">
<div class="column m-auto is-full-mobile is-three-quarters-tablet is-half-desktop">
    {% include "activity/create_post.html" %}
    {% include "activity/delete_post.html" %}

    {% if activities %}
    <div class="level">
        <h1 class="title">What's new:</h1>
    </div>
    {% load activity_tags %}
    <!-- Renders from activity/streampost.html -->
    {% for activity in activities %}
        {% render_activity activity %}
    {% endfor %}

    {% else %}
    <div class="level">
        <h1 class="title">No activities.</h1>
    </div>
    <p class="subtitle">Create a post/follow groups to get started!</p>
    {% endif %}
</div>
</div>

{% else %}
<div class="columns">
<div class="column is-full-mobile is-two-thirds-tablet is-half-desktop m-auto">
    <div class="card">
    <div class="card-content">
        <h2 class="title">Sign in to access all features.</h2>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
        <span>
            <a href="{% url 'login' %}">Login</a></a>
        </span>
        </p>
        <p class="card-footer-item">
        <span>
            or <a href="{% url 'signup' %}">create an account</a>
        </span>
        </p>
    </footer>
    </div>
</div>
</div>
{% endif %}
{% endblock content %}

{% block extra_js %}
<script>
$('document').ready(function() {

  $('.dropdown-trigger').click(function(e){
    var $dropdown = $(this).closest('.dropdown')
    e.stopPropagation()
    if ($dropdown.hasClass('is-active')) $dropdown.removeClass('is-active');
    else $dropdown.addClass('is-active');
    $('.dropdown-menu').closest('.box').mouseleave(function(){
      $dropdown.removeClass('is-active');
    });
  });
  $('.deleteModal').click(function() {
    uuid = $(this).parent().data('uuid'); //uuid of post
    $('#deleteModal').addClass('is-active');
    $('#deleteConfirm').click(function(){
      $('.loading').addClass('loader');
      $.ajax({
        url: "{% url 'ajax-delete-post' %}",
        type: "POST",
        data: {
          'uuid': uuid,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
          if (data.success == true) location.reload();
          else {
            $('.loading').removeClass('loader');
            $('#deleteTitle').text('Error occured. Please refresh page.')
            $('#deleteConfirm').parent().html('<a class="cancel card-footer-item">OK</a>')
          }
        }
      });
    });
  });

  $('.openModal').click(function() {
    uuid = $(this).parent().data('uuid'); //uuid of post
    $('#postForm').html('');
    if (uuid) {
      $title = $('#postModal-title').clone().removeClass('d-none');
      $('#postForm').html($title);
    }
    $.ajax({
      url: "{% url 'ajax-create-post' %}",
      type: "POST",
      data: {
        'action':'load',
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'uuid': uuid,
      },
      success: function(data) {
        if (data.success == true) {
          $('#postForm').append(data.form_html);
          $('#postModal').addClass('is-active');
          $('.controls').each(function() {
            if ($(this).find('select').length !== 0) {
              $(this).addClass('select')
            }
          });
        } else {
            location.reload();
        }
      },
    });

    $('body').on('submit', '#postForm form', function(event){
      event.preventDefault();
      $('.loading').addClass('loader');
      $.ajax({
        url: "{% url 'ajax-create-post' %}",
        type: "POST",
        data: $('#postForm>form').serialize() + "&action=save&uuid=" + uuid,
        success: function(data) {
          if (data.success == true) location.reload();
          else {
            $('#postForm').html(data.form_html);
            if (!data.form_html) location.reload();
          };
        },
      });
    });
  });

  $('body').click(function (event) {
    if ($(event.target).hasClass('modal-background') || $(event.target).hasClass('cancel')) {
      $('#deleteModal').removeClass('is-active');
      $('#postModal').removeClass('is-active');
    }
    if (!$(event.target).hasClass('dropdown-trigger')) {
      $('.dropdown').removeClass('is-active');
    }
  });

});
</script>
{% endblock extra_js %}