{% extends "login_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block ltitle %}{% trans "Password Reset" %}{% endblock %}

{% block cont-css %}home-cont{% endblock cont-css %}

{% block css %}
{% endblock css %}

{% block econtent %}
{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}
    
<h5 class="text-center">{% blocktrans %}Instructions to reset your password</br> have been sent to your email address</br> if it is valid.{% endblocktrans %}</h5>
{% endblock econtent %}
