{% extends "base.html" %}
{% load static %}
{% load i18n wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<style>
.ititle {
    background: linear-gradient(
          rgba(0, 0, 0, 0.15), 
          rgba(0, 0, 0, 0.55)
        ), url('{% static "images/courses.jpg" %}');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: fill;
    padding: 6em 2em 2em 2em;
}

</style>   
{% endblock extra_css %}

{% block jtron_css %}ititle{% endblock jtron_css %}

{% block jtron %}
<h1>{% trans "Number of courses attended by users" %}</h1>
{% endblock jtron %}

{% block content %}
<section class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <table class="table" id="usersList">
                    <thead>
                        <th>User Email</th>
                        <th>Courses</th>
                        <th>Spec Assigns</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td> {{ user.email }} </td>
                            <td> {{ user.attendance_set.count }} </td>
                            <td> {{ user.specassign_set.count }} </td>
                            <td><a class="btn btn-primary" href="{% url 'user-att-detail' user.username %}">View More</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#usersList').DataTable({
        responsive: true
    });
} );
</script>
{% endblock extra_js %}
