<div class="level">
    <button class="openModal button is-primary is-large" data-target="postModal" aria-haspopup="true">
        Create post
    </button>
</div>

<div id="postModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content content">
                <div id="postForm">
                    <!-- Form here -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="postModal-title" class="level d-none">
    <div class="level-left">
        <p>Editing:</p>
    </div>
</div>