<div id="deleteModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content">
                <p id="deleteTitle" class="title">Delete post - are you sure?</p>
              </div>
              <footer class="card-footer">
                <a id="deleteConfirm" class="card-footer-item has-text-danger">
                  Delete
                  <span class="loading"></span>
                </a>
                <a class="card-footer-item cancel">
                  Cancel
                </a>
              </footer>
        </div>
    </div>
</div>